/target
/.settings
/.classpath
/.project
/.idea
*.iml
/build
.mvn/wrapper/maven-wrapper.jar
*.releaseBackup
*.properties
.env
.github/keys/
*node_modules*
jpetstore-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
jpetstore-api/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
jpetstore-api/startup.log
