<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="account" type="org.mybatis.jpetstore.domain.Account" />
		<typeAlias alias="category" type="org.mybatis.jpetstore.domain.Category" />
		<typeAlias alias="item" type="org.mybatis.jpetstore.domain.Item" />
		<typeAlias alias="lineItem" type="org.mybatis.jpetstore.domain.LineItem" />
		<typeAlias alias="order" type="org.mybatis.jpetstore.domain.Order" />
		<typeAlias alias="product" type="org.mybatis.jpetstore.domain.Product" />
		<typeAlias alias="sequence" type="org.mybatis.jpetstore.domain.Sequence" />
	</typeAliases>
</configuration>
