<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.jpetstore.mapper.ReviewRatingMapper">

    <cache />


    <select id="getReviewRatingByReviewId" resultType="ReviewRating">
        SELECT
            reviewid AS reviewId,
            key,
            rating
        FROM
            reviewrating
        WHERE
            reviewid = #{reviewId}
    </select>

    <delete id="deleteReviewRatingByReviewId">
        DELETE FROM reviewrating
        WHERE reviewid = #{reviewId}
    </delete>

    <select id="getAverageRatingByProductId" resultType="Float">
        SELECT AVG(reviewrating.rating)
        FROM review, reviewrating
        WHERE review.reviewid = reviewrating.reviewid AND review.productid = #{productId}
        GROUP BY productid
    </select>
</mapper>
